.login h1 a {
    background: none;
    content: "TCSR";
    color: #f3f3f3;
	text-indent: unset;
	height: auto;
	font-weight: 500;
	font-size: 40px;
	letter-spacing: 5px;
	text-decoration: none;
	width: auto;
}
.login h1 a:focus {
    color: #f3f3f3;
    box-shadow: none;
}
body{
	background: #2a9f82;
}